body{
    margin: 0% auto;
}
.header{
    background-color: lightgray;
}
.logo img{
    padding: 20px;
    width: 22%;
    position: absolute;

}
.backgrounnd img{
    background-repeat: no-repeat;
}
.button1{
    background-color: orangered;
    color: white;
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1100px;
}
.number{
    /* background-color: orangered; */
    color: white;
    padding: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 750px;
    font-size: xx-large;
}
.button2{
    background-color: darkblue;
    color: white;
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 950px;

}
.bars{
    padding: 10px;
    margin-top: 0%;
    margin-left: 91%;
    position: absolute;
    color: white;
    font-size: 50px;
}
.slider{
    margin-top: -28%;
    color: white;
}
.slider-heading1{
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    margin-top: 0px;

}
.slider-heading2{
    font-size: 20px;
    text-align: center;
}
.sleepwell-button{
    text-align: center;
}
.started-button{
    padding: 12px;
    font-size: larger;
    background: none;
    border: 4px solid #ff5e00;
    color: white;
}
.service-logo{
    margin-top: 15%;
    margin-left: 15%;
}
.service-logo-img{
    border-right: 4px solid #ff5e00;
    padding-right: 40px;
}
.service-text{
    margin-top: -4%;
    margin-left: 35%;
    font-size: 20px;
}
.service-bottom-text{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;    
}
.icon{
    border: 1px solid #BBBBBB;
    float: left;
    margin-right: 6%;
    margin-top: 50px;
    padding: 38px 0px 15px 0px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.icons{
    margin-left: 12%;
    margin-bottom: 50px;
}
.team{
    width: 100%;
    height: 100%;
}
.team-img{
    width: 50%;
    height: 354px;
    margin-top: 10%;
}
.team-text{
    text-align: center;
    background-color: lightgray;
    width: 35%;
    height: 152px;
    margin-left: 50%;
    margin-top: -354px;
    padding: 101px;
    padding-top: 50px;
    padding-bottom: 152px;
}       
.acc-heading{
    text-align: left;
}
.acc-text1{
    text-align: left;
}
.acc-text2{
    text-align: left;
}
.meet-team-button{
    text-align: left;
}
.team-button{
    padding: 12px;
    font-size: larger;
    background: none;
    border: 4px solid #ff5e00;
    color: #ff5e00;
}
.quote-section{
    width: 92%;
    max-width: 900px;
    margin: 0px auto;
    padding: 90px 0px 95px 0px;
    text-align: center;
    margin-top: 20%;
}
.footer{
    width: 100%;
    background: #122C54;
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
}
.footerWrapper {
    width: 92%;
    max-width: 720px;
    margin: 0px auto;
    padding: 95px 0px 100px 0px;
}
.footerLeft {
    width: 36%;
    float: left;
}
.footerRight {
    width: 50%;
    float: right;
    padding-left: 7%;
    border-left: 1px solid #2A72BA;
}
.space {
    width: 100%;
    clear: both;
}
.footerLeft img {
    width: 100%;
    padding-top: 10px;
}